/* 

    author: Dang Thuy Vo

*/


*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}
/*css for menu*/
.menu{
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;

}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #70a1ff;
}

.menu ul li a:hover{
    color: #1e90ff;
}

/*css for main content*/
.admin-manage{
    margin: 1% 0;
    background-color: #f1f2f6;
}

.column-3{
    width: 27%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/*css for footer*/
.footer{
    background-color: #70a1ff;
    color: white;
}