*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

/*css for menu*/
.menu{
    border-bottom: 1px solid grey;
    background-color: blue;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;

}

/*css for announcement*/
.announcementtable{
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
   
}

/*css for footer*/
.footer{
    background-color: #70a1ff;
    color: white;
   padding-top: 90%;
    margin-bottom: 90%;

}

/*css for Table*/
.announcementtable.table, th, td {
    border:1px solid black;
  
  }
  /*css for Dropdown table*/
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 

  
  
  