
.padtable{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    background-color: lightpink;
  }
  .middlediv{
    text-align: center;
   
  }
  
  .announcementpad{
    height: 15%;
    width: 100%;
    background-color: lightgrey;
    border: 1px solid black;
    display: inline;
  }
  .announcementhead{
    height: 5%;
    width: 100%;
    background-color:  grey;
    border: 1px solid black;
  }
  
