
.padtable{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    background-color: lightpink;
  
  }
  .middlediv{
    margin-left: 40%;
    height: fit-content;
    width: fit-content;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  
  }
  .padtable  th td{ border: 2px solid black;}
  